#title {
    display: flex;
    font-weight: bold;
    font-size: 30px;
    justify-content: space-around;
 }
 h2{
    display: flex;
    justify-content: space-around;
 }
 body{
    background-color: rgb(247,247,237);
    color: black;
 }
 #favorite_activ h2, #favorite_techs h2, #about_me h2{
    font-weight: bold;
 }
.imagenes-container{
    display: flex;
    justify-content: space-evenly;
 }
 