#title {
    font-weight: bold;
    font-size: 30px;
    width: 70%;
    margin: 1em auto 1em;
 }
 body{
    font-family: Verdana;
    background-color: rgb(247,247,237);
    color: black;
 }
 header{
    text-align: center;
    padding: 3em 3em;
}
.subtitle{
    font-weight: bold;
    padding: 1em 1em;
 }
 img{
    width:100px;
    height: 100px;
}
#imagenesContainer{
    display: flex;
    justify-content: space-evenly;
 }
 a:hover  {
    color: blue;
    text-decoration: double;
}
.logo {
    border: 2px solid black;
    border-radius: 20%;
    transition: 1s;
}